@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;800&display=swap');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: auto;
  scroll-snap-type: y mandatory;
}
::selection{
  background-color: #10115a;
}
a {
  text-decoration: none;
}
body {
  background-color: #e3e3e3;
}
section {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
/* 
      HEADER
 */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: all 0.2s;
}

.header .container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  line-height: 80px;
  display: flex;
  align-items: center;
}
.logo a span {
  font-size: 22px;
  color: #f4f7f9;
  margin-left: 25px;
}
.logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.header .container nav ul {
  display: flex;
  align-items: center;
}
.header .container nav ul li a {
  display: inline-block;
  margin-right: 25px;
  line-height: 80px;
  color: #f4f7f9;
}
.header nav ul li {
  transition: all ease 0.2s;
}
.header nav ul li i {
  opacity: 0;
  font-size: 18px;
  transition: 200ms all;
  color: #f4f7f9;
}
.header ul li:hover i {
  opacity: 1;
}

.drop {
  position: relative;
}
.drop-menu {
  top: 80px;
  position: absolute;
  width: 100%;
  height: auto;
  max-height: 0px;
  overflow: hidden;
  background: linear-gradient(#323395,#10115a);
  border-radius: 0 0 8px 8px;
  transition: all ease 2s!important;
}
.drop-menu ul {
  display: flex;
  flex-direction: column;
  transition: 0.2s;
}
.drop-menu ul li {
  width: 100%;
  margin: 0;
  transition: 0.2s;
}
.drop-item {
  display: inline-block;
  margin: 0;
  width: 100%;
  line-height: 45px!important;
  padding: 5px;
  transition: 0.2s;
  text-align: center;
}
.drop-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.drop:hover .drop-menu {
  max-height: 800px;
}
.resp-button {
  display: none;
}
#hamburger{
  transition: 500ms all;
}
/* 
    WHO-AM-I
*/

.who-am-i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#323395, #10115a);
}
.who-am-i .text {
  width: 50%;
  margin-left: 20%;
}
.who-am-i .text h2 {
  letter-spacing: 2px;
  font-size: 52px;
  color: #f4f7f9;
  margin-bottom: 10px;
  font-weight: 400;
}
.who-am-i .text p {
  font-family: 'Outfit',sans-serif!important;
  background-color: #fff;
  border-radius: 2px 24px 2px 24px;
  font-size: 18px;
  color: #47cf;
  font-weight:500;
  display: inline-block;
  padding: 10px 12px;
}
.who-am-i .icons {
  width: 50%;
  display: flex;
  justify-content: start;
  margin-right: 50px;
  margin-top: 80px;
}
.who-am-i .icons .icon {
  width: 120px;
  height: 120px;
  text-align: center;
  font-size: 80px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  margin: 5px;
  border-radius: 8px;
  display: grid;
  place-items: center;
  transition: all ease 0.2s;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
}
.who-am-i .icons .icon:hover {
  transform: scale(1.1);
}
.who-am-i .icons .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col-2 {
  margin-top: -50px;
}
/*
    Projects 
*/
.projects {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(26, 34, 59);
  padding: 30px 80px;
}
.projects h2{
  margin-top: 80px;
  padding: 5px;
  font-weight: 700;
  font-size: 28px;
  border-radius: 19px;
  padding-left: 15px;
  border-bottom: 4px solid rgb(53, 66, 105);
  border-left: 4px solid rgb(52, 65, 105);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.projects .repo-count{
  margin-top: 15px;
  font-size: 18px;
  font-style: italic;
  color: #8db1ff;
}

.repos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.repo-card{
  margin-top: 25px;
  margin-right: 25px;
  background-color: #323395;
  padding: 15px 20px;
  width: 490px;
  height: 170px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
}
.repo-img{
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 2px solid #8db1ff;
  object-fit: cover;
}
.repo-info{
  margin: 0 15px;
  width: 100%;
}
.repo-name{
  color: #e3e3e3;
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 500;
}
.repo-description{
  color: rgb(37, 159, 159);
  font-size: 16px;
  font-style: italic;
}
.repo-link{
  font-size: 45px;
  color: #8db1ff;
}
/* 
    TYPEWRITER EFFECT
*/

.typewriter h2 {
  overflow: hidden;
  display: inline-block;
  border-right: 0.1em solid #fff;
  white-space: nowrap;
  animation: typing 2s steps(40, end), blink-caret 0.7s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 45%;
  }
}

@keyframes typing-mobile {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

/* 
    RESPONSIVE
 */

@media screen and (max-width: 768px) {
  #nav {
    display: none;
    transition: 200ms all;
  }
  .header .container {
    display: block !important;
  }
  #nav {
    margin-top: 18px;
    flex-direction: column;
    align-items: center;
  }
  #nav{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .logo {
    margin-left: 10px;
    margin-right: 40%;
    display: inline-block;
  }
  .resp-button {
    display: block;
    margin-top: -60px;
    margin-left: 85%;
  }
  .resp-button a {
    cursor: pointer;
    display: inline-block;
    font-size: 28px;
    color: #fff;
  }
  .who-am-i {
    flex-direction: column;
    min-height: 100vh;
    padding-top: 20%;
  }
  .who-am-i .text {
    margin-left: 0;
    width: 80%;
  }

  .who-am-i .icons {
    width: 100%;
    margin-right: 0;
    justify-content: center;
  }
  .typewriter h2 {
    animation: typing-mobile 2s steps(40, end),
      blink-caret 0.7s step-end infinite;
  }
  .who-am-i .icons .icons {
    width: 90px;
    height: 90px;
    font-size: 50px;
  }
  .projects{
    padding: 40px 10px;
  }
  .repos{
    align-items: center;
  }
  .repo-card{
    margin-right: 0;
  }
  .repo-name{
    font-size: 18px;
  }
  .repo-description{
    font-size: 14px;
  }
}
@media screen and (max-height: 830px) {
  .who-am-i .text h2 {
    font-size: 36px;
  }
  .who-am-i .text h3 {
    font-size: 16px;
  }
  .who-am-i .text p {
    font-size: 12px;
  }
}
.responsive {
  display: flex;
  flex-direction: column;
}
